@media screen and (min-width: 700px) {

    #menu-toggle {
        display: none;
    }

    nav ul,
    nav ul.hidden {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
    }

    .temple-grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem 1.5rem;
    }

    main > h1 {
        font-size: 1.8rem;
    }

}